.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 70px;
  right: 10px;
  background-color: var(--primary);
  padding: 5px;
  color: var(--color-primary);
  z-index: 1;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
